<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="header :: common_header(~{::title},~{::script})">
    <meta charset="UTF-8">
    <title>Homepage blog</title>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</head>
<body>
<div th:insert="header :: navbar"></div>
<div class="body">
    <h1>Welcome to my blog</h1>
    In the menu, you can get an overview of all the posts on my blog.<br>
    You can add new posts or write comments to existing posts.<br>
</div>
</body>
</html>